env/
*.DS_Store
*.pt
*.pth
*.onnx
*.trt
*.engine
*.cache
*.log
*.log.json
*.log.jsonl
*.log.txt
*.log.jsonl
*.log.json
*.log.txt
*.pyc
*.pycache__
*.egg-info
dist/
build/
data/
weights/
output/
*.jpg
test.py
wandb/
env_exp/
*.jpeg
*.png